<div class="inner-container">
    <div>
        <p>About 866,000,000(0.77 seconds) </p>
        <div>
            <h4><a>Elements Of Gogole Search Engine Results. Seo for begineers </a></h4>
            <p>https://Yoast.com > SEO basics</p>
            <p>The search results page contains the results of the search query on the left (or top on smaller screens). Results are sorted by relevance by default, and can be sorted by newest or oldest …</p>
        </div>
        <div>
            <h4><a>What is a Search Engine Results Page (SERP) ? | Webopedia</a></h4>
            <p>https://www.webopedia.com/definitions/serp</p>
            <p>03/03/2004 · A search engine results page, abbreviated SERP, is a page of listed articles that a search engine selects from its database when a user enters a search query. Search engines …</p>
            <p>Estimated Reading Time: 5 mins</p>
        </div>
        <div>
            <h4><a>SERP 101: All About Search Engine Results Pages</a></h4>
            <p>https://www.wordstream.com/serp</p>
            <p>Search Engine Results Pages: What They Are and How They Work Organic Results. SERPs typically contain two types of content  “organic” results and paid results. Organic results are...</p>
            <p><ul class="list">
                <li><a>Components</a></li>
                <li><a>search query</a></li>
                <li><a>Orgainic results</a></li>
                <li><a>Rich snippet</a></li>
            </ul></p>
        </div>
    </div>
   
</div>