body{
    margin:0px;
    width: 100%;

}
header{
    background-color:#FAFAFA;
    padding: 20px;
    height: 80px;
}
.nav li{
    display: inline-block;
    margin:10px;

}
.nav-items li a{
    text-decoration: none;
    color: black;

}
.act:active{
 color:blue;
}
.act:hover{
    border-bottom: 2px solid rgb(41, 41, 202);
}
.inner-container{
    display:block;
    box-sizing: border-box;
    position: relative;
    left: 130px;

}
.inner-container div {
   width: 64%;
    display: inline-block;
    margin:10px;
   
}
.list li{
    display: inline-block;
    color: rgb(71, 71, 248);
    margin-left: 20px;
}
.header-1 img{
    width: 120px;
}
.header-1 input{
    width: 800px;
    border: none;
    position: relative;
    background-color:white;
    
}
.header-1 label{
    height: 50px;
    padding: 6px;
    position: relative;
    bottom: 9px;
    box-shadow: 1px 1px 5px #fafafa;
    background: white;
    border:1px solid #706d6d;
}

.header-1{
    margin-top:10px;
}
header .prof-list li{
    display: block;
    position: relative;
    float: right;
    text-align: right;
    margin: 0;
    line-height: 50px;
    right: 40px;
}
.prof-list{
    position: relative;
    bottom: 64px;
}
.prof-list li i{
    margin-left:20px;
}
.nav-items li{
    display: inline-block;
    margin: 0px 15px 0 15px;
}
.nav-items{
    position: relative;
    left: 30px;
    margin-left: 55px;
}
.fl{
    float: right;
    position: relative;
    right: 340px;
    bottom: 5px;
}
#srch{
    margin-left: 20px;
    background: white;
}
.src{
    border: none;
    width: 66%;
    height: auto;
    padding: 0 5px;
    border-radius: 50px;
    background: white;


}
.src:focus{
    outline: none;

}
.header-1 a{
    margin-left: 10px;
}
h4 {
    color:rgb(39, 39, 194);
    font: 18px/normal 'Roboto',Helvetica,Sans-Serif;
    margin: 5px;
}
#p
{
color: rgb(35, 131, 22);
margin: 0px;
}
p{
    margin: 0px;
    font: 14px/normal 'Roboto',Helvetica,Sans-Serif;
}
.block{
    border: 1px solid #cdc3c3;
}
.block h3{
    font-size: 15px;
    font-weight: revert;
    padding-bottom: 5px;
    box-sizing: border-box;
    box-shadow:0px 2px 3px #cdc3c3;
    padding: 5px;
}
@media (min-width:992px)and (max-width:1200px) {
    .fl {
        float: right;
        position: relative;
        right: 200px;
        bottom: 3px;
    }
    .nav-items {
        position: relative;
        left: 30px;
        margin-left: 55px;
    }
    .header-1 a {
        margin-left: 10px;
    }
    .header-1 input{
        width:500px;
    }
    
}
@media (min-width:768px)and (max-width:992px){
    .nav-items {
        position: relative;
        left: 30px;
        margin-left: 55px;
    }
    .header-1 input{
        width:300px;
    }
    .fl {
       display:none;
    }
    .inner-container div {
        width: 80%;
         display: inline-block;
         margin:10px;
         box-sizing: border-box;
        
     }
     .list{
        margin:5px;
        padding: 0px;
     }
}
@media (min-width:576px)and (max-width:767px){
    .header-1 img {
        width: 100px;
    }
    .header-1 input {
        width: 210px;
        border: none;
        position: relative;
        background-color: white;
    }
    .nav-items {
        position: relative;
        /* left: 30px; */
        /* margin-left: 55px; */
    }
    .nav-items{
        text-align: center;
    }
.fl{
    display: none;

}
.nav-items ul{
    padding: 0px;
}
.inner-container div {
    width: 90%;
     display: inline-block;
     margin:10px;
     box-sizing: border-box;
    
 }
 .inner-container {
    display: block;
    box-sizing: border-box;
    position: relative;
    left: 60px;
}
}
@media (min-width:219px)and (max-width:320px){
    .inner-container div {
        width:auto;
        display: inline-block;
        margin: 10px;
    }
    .inner-container{
        display: block;
        box-sizing: border-box;
        position: relative;
        left: 0px;
    }
    .header-1 img {
        width: 70px;
    }
    .header-1 input {
        width: 120px;
        border: none;
        position: relative;
        background-color: white;
    }
    .profile{
        display: none;
    }
    .fl{
    display:none;
}
.nav-items ul{
    display: none;
}
}
@media (min-width:1px)and (max-width:575px){
    .inner-container div {
        width:auto;
        display: inline-block;
        margin: 10px;
    }
    .inner-container{
        display: block;
        box-sizing: border-box;
        position: relative;
        left: 0px;
    }
    .header-1 img {
        width: 70px;
    }
    .header-1 input {
        width: 120px;
        border: none;
        position: relative;
        background-color: white;
    }
    .profile{
        display: none;
    }
    .fl{
    display:none;
}
.nav-items ul{
    display: none;
}
}